<div class="koutakisidebar">

    <mat-icon>storage</mat-icon>

</div>

<mat-nav-list>

    <div>

    </div>

    <mat-divider></mat-divider>

    <div>

        <h2 matSubheader>Pages</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">dashboard 
        <mat-icon>dashboard</mat-icon></a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">posts
        <mat-icon>announcement</mat-icon></a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">users
        <mat-icon>account_box</mat-icon></a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/form">form
        <mat-icon>edit</mat-icon></a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/list">list
        <mat-icon>list</mat-icon>   
        </a>


    </div>





    <mat-divider></mat-divider>

    <h2 matSubheader>Premium</h2>
    <a mat-list-item aria-readonly="true"> Notifications
        <mat-icon>notification_important</mat-icon> </a>
    <a mat-list-item aria-readonly="true"> Alerts 
        <mat-icon>warning</mat-icon>
    </a>



    <mat-divider></mat-divider>


</mat-nav-list>