<!-- <mat-divider></mat-divider>


<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
    <span>My App</span>
    <span class="example-spacer"></span>


</mat-toolbar> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="toggleSideBar()"></button> -->
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="search-icon search-icon" aria-label="Example icon-button with search icon">
            <mat-icon>search</mat-icon>
          </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
    </mat-toolbar-row>

</mat-toolbar>